body{
  min-height: 100vh;
}
.header{
  display: flex;
  margin: var(--md);
  justify-content: space-between;
  align-items: center;
}
.menu{
  position: absolute;
  top: 0;
  left: -1000px;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  transition: left 0.25s ease-in-out;
  &__icon{
    width: rem(32px);
    z-index: 9;
  }
  &.active{
    left: 0;

  }
  &__link{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    &.active, &:hover{
      font-weight: bold;
    }
  }
}
.main{
  margin: var(--md);
  display: grid;
  grid-template-columns: 1fr;
  grid-area: "banner"
              "img";
}
.footer{
  margin: var(--md);
  text-align: center;
  p{
    margin: 0 var(--lg);
    padding-top: var(--sm);
    border-top: 1px solid black;
  }
}